<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
          margin: 0;
          background: linear-gradient(to right, #00c6ff, #0072ff);
          color: white;
        }
    
        h1 {
          margin-bottom: 20px;
        }
    
        nav {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          margin-bottom: 20px;
        }
    
        a {
          text-decoration: none;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          background-color: #0072ff;
          transition: background-color 0.3s ease;
        }
    
        a:hover {
          background-color: #00c6ff;
        }
      </style>
    
</head>

<body>

    <h1>Welcome to Admin!</h1>
    <nav>
        <a href="/admin/admin/sell" class="my-btn-class-29" role="button">sell form details</a>
        <a href="/admin/admin/userdata" class="my-btn-class-29" role="button">Users Detail</a>
        <a href="/social/WelcomeEarningVideo" class="my-btn-class-29" role="button">Earning</a>
        <a href="/buyandsell/weltosocialpage" class="my-btn-class-29" role="button">Buy </a>
           <a href="/socialsell/welcomeSocial" class="my-btn-class-29" role="button">social panel Sells</a>
        <a href="/BuyAccounts " class="my-btn-class-29" role="button">Accounts View Details </a>
        <a href="/Account/Welcome_to_Payment" class="my-btn-class-29" role="button">Payment Details</a>

    </nav>


</body>

</html>