<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: url('https://images.pexels.com/photos/1878795/pexels-photo-1878795.jpeg?cs=srgb&dl=pexels-marcus-murphy-1878795.jpg&fm=jpg');
            background-size: cover;
        }

        h1 {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 700;
            letter-spacing: 0.2rem;
            margin-top: 6rem;
            color: #bc804f;
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
        }

        nav a {
            padding: 0.5rem 1.5rem;
            border-radius: 2rem;
            margin-left: 2rem;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            color: white;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            background-color: #514949;
            position: relative;
        }

        nav a:hover {
            background-color: white;
            color: black;
        }
    </style>
</head>

<body>

    <h1>Welcome to Admin!</h1>
    <nav>
        <a href="/admin/admin/sell" class="my-btn-class-29" role="button">sell form details</a>
        <a href="/admin/admin/userdata" class="my-btn-class-29" role="button">Users Detail</a>
        <a href="/social/WelcomeEarningVideo" class="my-btn-class-29" role="button">Earning</a>
        <a href="/buyandsell/weltosocialpage" class="my-btn-class-29" role="button">Buy </a>
        <a href="/socialsell/welcomeSocial" class="my-btn-class-29" role="button">social panel Sells</a>

    </nav>


</body>

</html>