<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

  input {
    caret-color: red;
  }

  body {
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    place-items: center;
    font-family: poppins;
  }

  .container {
    position: relative;
    width: clamp(250px, 100%, 600px);
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }

  .inputs {
    text-align: left;
    margin-top: 10px;
  }

  label,
  input,
  button,
  textarea {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  label {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 0.5px;
  }

  label:nth-of-type(2) {
    margin-top: 12px;
  }

  input::placeholder {
    color: gray;
  }

  input,
  textarea {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }

  .small {
    display: flex;
    margin-top: 30px
  }

  .inout {
    display: flex;
    flex-direction: column;
  }

  textarea {
    height: 150px;
    border-radius: 2px;
    padding-left: 10px;
    resize: none;
  }

  textarea::placeholder {
    position: relative;
    top: 20px;
    left: 10px
  }

  .last {
    margin-top: 20px;
  }

  button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }

  button:hover {
    box-shadow: none;
  }
</style>

<body>
  <form action="/Account/upload-image" method="POST" enctype="multipart/form-data">
    <h1>Upload the image</h1>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="phone">Phone:</label>
    <input type="number" name="phone" id="phone" required>
    <br>
    <label for="description">Description:</label>
    <textarea name="description" id="description" rows="5"></textarea>
    <br>
    <label for="accountBuyCheck">Account Buy Check:</label>
    <input type="text" name="accountBuyCheck" id="accountBuyCheck">
    <br>
    <div>
      <label for="accountBuyCheck"> Select Payment Method:</label>
      <select name="paymentMethod" id="paymentMethod" required>
        <option value="jazzCash">jazzcsh</option>
        <option value="crypto">crypto</option>
        <option value="bankAccount">bankAccount</option>

        <option value="easyPaisa">jazzcsh</option>   
      </select>
    </div>

    <label for="earningMoneyCheck">Earning Money Check:</label>
    <input type="text" name="earningMoneyCheck" id="earningMoneyCheck">
    <br>
    <label for="image">Image:</label>
    <input type="file" name="image" id="image">
    <br>
    <button type="submit">Send</button>
  </form>
</body>

</html>